:root{
    --pink: #ff5ecc;
    --blue: #0ad6ff;
    --highgray: #E8E9F3;
    --midgray: #CECECE;
    --white:#ffffff;
}

body {
	background-color: white;
	box-sizing: border-box;
	font-family: Century Gothic;
}

h2 {
	color: white;
}
#workspace {
	text-align: center;
}

#soundbox {
	position: absolute;
	left: 5%;
    top: 10%;
	background-color: var(--pink);
	width: 20%;
	height: 75%;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top
	
}

#keymapper {
	position: absolute;
	left: 30%;
    top: 10%;
	background-color: var(--blue);
	border-radius: 10px;
	width: 65%;
	height: 75%;
	display: inline-block;
	vertical-align: top
}

.key {
	font-family: Century Gothic;
	font-size: 20px;
	color: white;
  	background-color: var(--blue); 
  	border:4px solid; border-radius: 3px;
  	border-color: white; 
  	margin-bottom: 20px;
  	padding: 0px;
  	outline:0;
  	width: 50px;
  	height: 50px;
} 

.key:hover {
	color:var(--blue);
  	background-color: white; 
} 
.key:active {
	font-size: 18px;
} 
.key:focused {
	outline:1;
	color:var(--blue);
  	background-color: white; 
  	font-size: 18px;
}
